<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="root"></div>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload', defer: true %>
    <script>
      const imagePaths = {
        background1: "<%= image_pack_tag('media/images/background_1.png').match(/src="([^"]*)"/)[1] %>",
        background2: "<%= image_pack_tag('media/images/background_2.png').match(/src="([^"]*)"/)[1] %>",
        background3: "<%= image_pack_tag('media/images/background_3.jpg').match(/src="([^"]*)"/)[1] %>",
      };
    </script>
  </body>
</html>
